@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body, textarea {
	font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}
input, select {
	font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
}
ul, ol, li, dl, dt, dd {
	display: block;
	list-style-type: none;
}
a:link {
	text-decoration: none;
}

#header {
	background-color: #666666;
	height: 44px;
	color: #FFFFFF;
}
#contents {
	padding: 10px;
}
#orgMenu {
	display: none;
}
